@charset "UTF-8";

/*
    em HTML é id      = em CSS é # (só pode um elemento)
    em HTML é class   = em CSS é . (pode vários elementos)
*/  

body{
    background-color: #A8FBB0;
    font-family: Arial, Helvetica, sans-serif;
}
#principal{
    color: white;
    text-align: center;
    background-color: #2D7A35;
}
h1{
    color: #2D7A35;
}

h2{
    color: #527A56;
}
.basico{
    color: #527A56;
}
.intermediario{
    color: #797a52;
}
.avancado{
    color: #7a5752;
}
.destaque{
    background-color: rgba(223, 223, 11, 0.815);
}